<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

	<head>
		{% comment %} (page title) | (site title) {% endcomment %}
		<title>{% if page.title %}{{ page.title }}{% elsif site.description %}{{ site.description }}{% endif %}{% if site.title %}{% if page.title or site.description %} | {% endif %}{{ site.title }}{% endif %}</title>

                <link rel = "stylesheet" type = "text/css" href = "{{ /assets/css/style.css | relative_url }}" />
	</head>

	<body>
		{% comment %} TODO
		{% include header.html %}
		{% endcomment %}

		<section>
		{{ content }}
		</section>

	</body>
</html>
